body{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    justify-content: center;
    background-color: rgb(130, 142, 243); 
}
/** 
Texte = #0A1931
Background = #F6FAFD
Bouton = #B3CFE5
Hover = #4A7FA7
Boite 1 = #1A3D63
Boite 2 = #294C63
Boite 3 = #78AEAD 
**/
.nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 10px;
    margin-top: 0px;
    background-color: rgb(175, 180, 226);
}
.mini-icon img{
    width: 50px;
    height: 50px;
    margin-right: 350px;
    border-radius: 35px;
}
.nav-bar{
    display: flex;
    margin-left: 200px;
    justify-content: space-around;
    background-color: antiquewhite;
    box-shadow: 5px 6px 6px grey; 
    border-radius: 30px 0px 30px 0px; 
    padding: 10px;
}
.section a{
    color: #0A1931;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none; 
}
.section a:hover{ 
    width: 100%;
    color: #0A1931; 
    padding: 10px; 
    background-color: rgb(175, 180, 226);
    transition: 0.4s;
    border-radius: 30px;
}
.section:hover .selection{
    display: block; 
    transition: 0.8s;
}



.present{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 50px;
    border-radius: 0px 0px 150px 150px;
    background-color: rgb(175, 180, 226);
}
.secondnav{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-left: 50px;
    background-color: antiquewhite; 
    box-shadow: 5px 6px 6px black;
    border-radius: 10px;
    padding: 30px;
}
.speech{
    margin-right: 200px;
}
.speech h2{
    color: #17315a;
    font-size: 20px;
    font-weight: 700;  
    text-decoration: none;  
}
.speech legend{
    width: 350px;
    color: #0A1931;
    font-size: 14px;
    font-weight: 700; 
    text-align: justify;  
}
.profil{
    width: 300px;
    height: 300px;
    background-color: rgb(130, 142, 243); 
    border-radius: 100px  100px 100px  100px; 
    box-shadow: 5px 6px 6px grey;
    margin-right: 130px;
}
.profil img{
    width: 180px;
    height: 180px; 
    margin-top: 130px;
    margin-left: 55px;   
}
.expe{
    display: block;
    margin-left: 100px;
}
  

.rea{
    display: block;
    width: 100%;
    justify-content: center;
    /**background-color: #1A3D63;**/
    border-radius: 60px 0px 60px  0px;
    padding: 50px;
}
.bloc1{
    width: 100%;
    margin-left: 50px;
    margin: 20px;
}
.bloc1 h1{
    color: #0A1931;
    font-size: 25px;
    font-weight: 700;
}
.bloc1 button{
    width: 100px;
    height: 30px;
    color: #0A1931;
    font-size: 15px;
    background-color: #B3CFE5;
    border-radius: 20px;
}
.boite_rea{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.boite_rea h3{
    color: #0A1931;
    text-align: center;
}
.blanc{
    width: 200px;
    height: 300px;
    border: 2px solid grey; 
    background-color: #f5f5f5;
    box-shadow: 5px 6px 6px rgb(22, 22, 22);
    border-radius: 20px;
}
.blan{
    width: 200px;
    height: 280px;
    border: 2px solid grey;
    background-color: antiquewhite;
    box-shadow: 5px 6px 6px rgb(27, 27, 27);
    margin: 10px;
    margin-top: 20px; 
    border-radius: 20px; 
}
.bla{
    width: 220px;
    height: 220px;
    border: 3px solid grey;
    margin: 10px;
    margin-top: 10px;
    border-radius: 20px; 
}



.curicul{
    width: 100%;
    display: block;
    justify-content: center;
    background-color: rgb(175, 180, 226);
    border: 2px solid grey;
    border-radius: 0px 0px 100px 100px; 
    padding: 50px;
}
.curicul h1{
    color: #0A1931;
    font-size: 25px;
    font-weight: 700;   
}
.moi{
    width: 100%;
    display: flex;
    justify-content: space-around; 
}
.modif{
    display: flex;
    justify-content: space-around;
}
.brique1{
    width: 100px;
    height: 80px;
    border-radius: 60px 0px 60px  0px;
    background-color: antiquewhite;
    box-shadow: 5px 6px 6px rgb(27, 27, 27);
}
.photo{
    width: 250px;
    height: 250px;
    border: 3px solid black;
    border-radius: 60px 60px 60px  60px; 
}
.brique2{
    width: 100px;
    height: 80px;
    border-radius: 0px 60px 0px 60px;
    background-color: antiquewhite;
    box-shadow: 5px 6px 6px rgb(27, 27, 27);
    margin-top: 170px; 
    margin-left: 180px;

}
.curicul button{
    width: 200px;
    height: 30px;
    color: #0A1931;
    font-size: 15px;
    background-color: #B3CFE5;
    border-radius: 20px; 
    margin-top: 20px; 
}


.tech{
    display: flex;
    width: 100%;
    justify-content: space-between;
    /**background-color: #1A3D63;**/
    border-radius: 60px 0px 60px  0px;
    padding: 30px; 
}
.bloc2{
    margin-left: 50px;
    margin: 20px;
}
.bloc2 h1{
    color: #0A1931;
    font-size: 25px;
    font-weight: 700;
}
.bloc2 button{
    width: 100px;
    height: 30px;
    color: #0A1931;
    font-size: 15px;
    background-color: #B3CFE5;
    box-shadow: 5px 6px 6px rgb(27, 27, 27);
    border-radius: 20px;
}
.compete{
    display: inline-block;
    margin-right: 150px;
}
.part1{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.boite{
    width: 200px;
    height: 180px;
    background-color: antiquewhite;
    border-radius: 20px; 
    box-shadow: 5px 6px 6px rgb(27, 27, 27);
    margin: 20px; 
}
.boite img{
    height: 40px;
    width: 40px;
    margin-left: 80px; 
    margin-top: 40px;
}
.boite h3{
    color: #0A1931;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    text-decoration: double; 
}



.tesmony{
    display: inline-block;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(175, 180, 226);
    border-radius: 60px 60px 0px  0px;
    padding: 20px;
    padding-bottom: 30px;

}
.client{
    display: inline-block;
    width: 350px;
    background-color: #f5f5f5;
    border: 2px solid grey;
    box-shadow: 5px 6px 6px rgb(27, 27, 27);
    border-radius: 0px 0px 100px  30px;
}
.client legend{
    color: #0A1931;
    font-size: 14px;
    font-weight: 700;
    font-style: italic;
    text-align: justify;
    text-decoration: double; 
    padding: 20px;
}
.client img{
    width: 100%;
    height: 200px;
}
.client button{
    width: 100px;
    height: 30px;
    color: #0A1931;
    font-size: 15px;
    font-weight: 700;
    background-color: #B3CFE5;
    box-shadow: 5px 6px 6px rgb(27, 27, 27);
    border-radius: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
}


/** Footer **/
.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    padding-top: 20px;
    padding-bottom: 20px;
}
.me{
    display: inline-block;
}
.Ephra{
    display: flex;
    justify-content: space-around;
}
.me legend{
    width: 300px;
    color: #0A1931;
    font-size: 14px;
    font-weight: 700;
    font-style: italic;
    text-align: justify;
    text-decoration: double; 
    padding: 20px;
}
.reseau{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.me img{
    width: 40px;
    height: 40px;  
}
.navigation{
    display: inline-block;
}
.navigation h2{
    color: #0A1931;
    font-size: 14px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    text-decoration: double; 
}
.liste{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.liste a{
    color: #0A1931;
    font-size: 14px;
    font-weight: 700;
    font-style: italic;
    text-transform: none;
    text-decoration: none;
    padding: 20px;
}
.envoi{
    display: inline-block;
    padding-top: 50px; 
}
.envoi legend{
    width: 200px;
}
.title a{
    color: #0A1931;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    text-transform: none;
    text-decoration: none;
    padding: 20px;
    padding-bottom: 40px;
}

